<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <a href="/fruits/new"><button>Create a Fruit</button></a>
      <div>
        <% for (let fruit of fruits) { %>

        <article>
          <h2 hx-get="/fruits/<%= fruit._id %>" hx-trigger="click" hx-target="div" hx-swap="outerHTML" hx-select="article"><%= fruit.name %> - <%= fruit.readyToEat ? "ripe" : "not ripe"%></h2>
          <!-- hx-target: where to replace it -->
          <!-- hx-select: what to replace it -->
        </article>

        <% } %>
      </div>
    </main>
  </body>
</html>
