<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>

    <main>
      <div>
        <!-- this showTools lets you toggle parts of the code on or off based on the state -->
        <article x-data="{showTools: false}">
          <h2><%= fruit.name %> - <%= fruit.readyToEat ? "ripe" : "not ripe"%></h2>
          <h3><%= fruit.color %></h3>

          <!-- this toggles the showTools value back and forth -- lets you do it w/o JS -->
          <button x-on:click="showTools = !showTools">Show Options</button>

          <div x-show="showTools">
            <a href="/fruits/<%= fruit._id %>/edit"><button>Edit</button></a>
            <form action="/fruits/<%= fruit._id %>?_method=DELETE" method="post">
              <button>Delete</button>
            </form>
            <a href="/fruits"><button>Back to Main</button></a>
          </div>
        </article>
      </div>
    </main>
  </body>
</html>
